/*
    Reset Selector - don't remove this!
*/


* {
    margin: 0;
    padding: 0;
}


/*
    You can modify everything after this point.
*/


a:link, a:visited {
    color: blue;
	text-decoration: none;
	font-weight: 500;
}


a:focus, a:hover {
    background-color: #ddddff;
    border-radius: 5px;
    text-decoration: underline;
    transition-duration: 0.2s;
    transition-property: background;
}

/*styling added to body*/
body {
font-family: 'Helevetica Neue', Arial, Helvetica, sans-serif;
font-size: 18px;
line-height: 1.75;
color: #333;
max-width: 800px; /*line lingth*/
margin: 0 auto;
padding: 20px;

}


code {
   
}


h1, h2, h3 {


}


h1 {


}


h2 {


}


h3 {
   
}


header {
   
}


main {


}


p {


}


#intro {


}


#how-does-it-work, #influence, #joke {


}

